<section>
        <div class="container ">

                <div class="row mt-3">
                        <h1 class="mx-auto"> <b> View-products </b> </h1>
                        <a class="btn btn-success m-3 ml-auto" href="/admin/add-product">Add product</a>
                </div>
                <table class="table  mt-4">

                        <thead>
                                <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Catagory</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Image</th>
                                </tr>
                        </thead>
                        <tbody>
                                {{#each products}}
                                        <tr>
                                                <th scope="row">1</th>
                                                <td>{{this.name}} </td>
                                                <td>{{this.catagory}}</td>
                                                <td>{{this.description}} </td>
                                                <td><img src="/product-images/{{this._id}}.jpg" height="100px" alt=""
                                                                srcset=""> </td>
                                                <td>{{this._id}} </td>
                                        </tr>
                                {{/each}}
                        </tbody>
                </table>
        </div>
</section>