<section>


        <div class="container mt-4">
                <div class="row">
                        <div class="col-md-8">
                                <h2 class="text-center">
                                        edit Products
                                </h2>
                                <form action="/min/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" class="form-control" value="{{product.name}}">

                                        <label for="catagory">Catagory</label>
                                        <input type="text" name="catagory" class="form-control" value="{{product.catagory}}">
                                        
                                        <label for="price">Price</label>
                                        <input type="text" name="price" class="form-control" value="{{product.price}}">
                                        
                                        <label for="description">Description</label>
                                        <input type="text" name="description" class="form-control" value="{{product.description}} ">
                                        
                                        <label for="">Image</label>
                                        <img src="/product-images/{{product._id}}.jpg" style="width: 100px;height: 100px;" alt="" id="asd" srcset="">
                                        
                                        <input type="file" name="image" id="imgInp" class="form-control" onchange="myf(event)">
                                        
                                        <a href="/min " class="btn btn-success mt-4 mr-auto">Go back</a>
                                        <button type="submit" class="btn btn-primary mt-4 ml-auto">Submit</button>
                                </form>
                        </div>
                </div>
        </div>
</section>
<script>
        function myf(event){
                document.getElementById('asd').src=URL.createObjectURL(event.target.files[0])
        }
</script>