<section> 
        {{#if response}}
         <div class = "d-none d-md-block mt-3 container" >
              <table id = "table_id" class = "table mt-4">
                   <thead> 
                       
                        <tr>
                            <th scope="col">item</th>
                            <th scope="">Product Details</th>
                           
                           
                            <th scope="">Order Details</th>
                           <th scope="">Options</th>
                        </tr>
                </thead>
                <tbody>
{{#each response}}
                        <tr>
            {{#with product}}

                            <td>
                                 <div class="col-5"> 

                                        <img src="/product-images/{{this._id}}.jpg " style="max-width: 54%;" class="img-fluid" alt="">
                                    
                                    </div>

                            </td>                  
                                <td>
                                
                                    
                                   
                                    <h4>
                                        {{this.name}}
                                    </h4> 
                                    <h5>
                                        {{this.price}}
                                    </h5>
                                   
                                   
                                </td>   
            {{/with}}

                            <td>
                                <b>Name: </b>{{this.username}}
                                <br>
                                <b>ADDRESS: </b>{{this.addres}}<br>
                                <b>Pincode: </b>{{this.pincode}}<br>
                                <b>Mobile: </b>{{this.mobile}}<br>
                                {{!-- <b>Total: </b> {{this.total}}<br> --}}
                                <b>Payment Method: </b> {{this.paymentmethod}}<br>
                                <b>Status: </b>{{this.status}}
                            </td>
                                <td>
                                    <a href="/min/changeststus/{{ this.orderid }}" class="btn btn-primary">Update status</a>


                                </td>

                        </tr>
                   {{/each}}
                     {{!-- <h1>No orders yet</h1> --}}
                    {{!-- {{/if}} --}}
                </tbody>
            </table>
        </div>

<div class="d-block d-md-none ">
<div class=" mt-5" >

{{#each response}}
<hr>
        <div onclick="location.href=''" class="row container px-4 py-2" >

    {{#with product}}

                    <div class="col-5">
<img src="/product-images/{{ this._id }}.jpg " style="max-width: 34%;" class="img-fluid" alt=""></div>
{{/with}}


                    <div class="col-6">

                      

                            <h5 style="text-transform: uppercase;">{{this.product.name}}</h5>
                      
                            <h6> <b>Orderd at {{this.date}}</b></h6>
                
                    </div>
                    <div class="col-1" align='right'>
                            <i class=" mt-5 ml-auto arrow right"></i>
<style>
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
</style>

                    </div>
                </div>
                   

                <hr>
            {{/each}}
            </div>
        {{else}}
        <h4 class="text-center">No Orders Yet</h4>
        {{/if}}
    
</section>
<script>
        $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
