<section>
        <div class="container">

                <div class="row mt-3 container">
                        <h1 class="mx-auto"> <b> View-products </b> </h1>
                        <a class="btn btn-success m-3 ml-auto" href="/min/add-product">Add product</a>
                </div>
                <table id="table_id" class="table  mt-4">

                        <thead>
                                <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>

                                        <th scope="col">Catagory</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Image</th>

                                        <th scope="col"> Options</th>
                                </tr>
                        </thead>
                        <tbody>
                                {{#each products}}
                                        <tr>
                                                <th scope="row">1</th>
                                                <td>{{this.name}} </td>
                                                                                                <td>{{this.price}} </td>
                                                <td>{{this.catagory}}</td>
                                                <td>{{this.description}} </td>

                                                <td><img src="/product-images/{{this._id}}.jpg" height="100px" srcset=""> </td>
                                                <td>
                                                        <a href="/min/edit-product/{{this._id}}" class="btn btn-primary">Edit</a> 
                                                        <a href="/min/delete-product/{{this._id}}" onclick="return confirm('are you sure')" class="btn btn-danger">Delete</a>
                                                        
                                                </td>
                                               
                                        </tr>
                                {{/each}}
                                {{!-- {{this._id}} --}}
                        </tbody>
                </table>
        </div>
</section>
<script>
        $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
<style>
        .dataTables_wrapper .dataTables_filter input {
	border: 1px solid green;
	border-radius: 42px;
	padding: 13px;
	background-color: transparent;
	margin-left: 0px;
	/* top: 1px; */
}
#table_id_filter {
	top: 24%;
	z-index: 1111;
	right: 3%;
}
</style>