<header style="background-color: #2874f0 !important;">



    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="height: 56px;">
        <a class="navbar-brand" href="/">SHOPPING CART</a>

        <a class="nav-link ml-auto d-block d-md-none" href="/cart">
            <h5>
                <img class="mr-n4  " src="https://img.icons8.com/pastel-glyph/30/ffffff/shopping-cart--v2.png"/>
                <span class=" ml-n4 mt-n2  pl-n3 badge badge-success ml-auto" id="cart-count">
                    {{ cartcount }}
                </span>
            </h5>
        </a>


        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button> 




        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" >

{{!-- <datalist id="pro">
{{#each pros}}
  <option value="{{this.name}}">
{{/each}}
</datalist> --}}
<form action="" class=" mr-sm-2 col-9 d-none d-md-flex ml-md-auto"  method="get">
            <input onkeyup="myFunction()" autocomplete="off" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  name="pro" class="form-control mr-sm-2 col-9 d-none d-md-block mr-md-auto"  type="text"  placeholder="Search" >
            <div style="width: 72%;margin-left:1rem;left:0;"  class="dropdown-menu form-controll"  id="v" aria-labelledby="dropdownMenuButton">
                
                <ul style="padding: 0;" id="myUL">{{#each products}}
                <li >
                <a  class="dropdown-item id" href="/view-product/{{this._id}}" id="id">{{this.name}} </a>

                </li>
                {{/each}}
                </ul>

            </div>
</form>
 

<script>
function myFunction(){
        var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("dropdownMenuButton");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }

}
</script>
            <ul class="navbar-nav mr-4">
                <li class="nav-item active">
                    <div class="dropdown mx-auto">


                        <a type="button" style="text-decoration: none;" class="text-white  btn dropbtn  pr-4 mx-auto">


                            {{#if user}}
                                
                                <a class="dropdown-item btn btn-inline mb-3 bg-light up"  >{{ user.name }}</a>
                            {{ else }}
                                <a class="dropdown-item btn btn-inline mb-3 bg-white mx-auto" href="/login ">Login</a>


                            {{/if}}


                        </a>

                        <div class="dropdown-menu  dropdown-content ">

                            {{#if user}}
<a class="dropdown-item" href=""><small><img class="pr-2" src="https://img.icons8.com/fluent-systems-filled/20/000000/guest-male.png"/>My profile</small></a>


<a class="dropdown-item" href="/orders"><small><img class="pr-2" src="https://img.icons8.com/android/17/000000/wallet.png"/> Orders</small></a>



                                <a class="dropdown-item" href="/logout"><small>Logout</small></a>
                            {{ else }}
                                <a class="dropdown-item " href="/signin"> <small>
New customer
                                    <span class="text-danger">signin</span>
                                </small> 
                                </a>


                            {{/if}}

                        </div>
                        <span class="sr-only">(current)</span>


                    </div>

                </li>

            </ul>

{{#if user}}
            <a class="nav-link d-none d-md-block" href="/cart">
                <h5>
                    <img class="mr-n4  " src="https://img.icons8.com/pastel-glyph/40/ffffff/shopping-cart--v2.png"/>
                    <span class=" ml-n4 mt-n2  pl-n3 badge badge-success ml-auto" id="cart-coun">
                        {{ cartcount }}
                    </span>
                </h5>
            </a>

{{/if}}
        </div>


    </nav>
<div class="bg-prmary d-block d-md-none " style="padding-bottom: 1rem;">

    <input list="pro" class="form-control cc mr-sm-2 col-9 col-sm-10 ml-5 d-block  d-md-none ml-md-auto" type="text" onkeyup="mFunction()" placeholder="Search" id="myInput" style="height: 31px;">


</div>


   </header>
<style>
    {{!-- .id:hover{
        background-color: #ffc107 !important ;
        color: #fff;
    } --}}
    ul{
        list-style: none;
    }
</style>