<header style="background-color: #2874f0 !important;">



    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="height: 56px;">
        <a class="navbar-brand" href="/">SHOPPING CART</a>

        <a class="nav-link ml-auto d-block d-md-none" href="/cart">
            <h5>
                <img class="mr-n4  " src="https://img.icons8.com/pastel-glyph/30/ffffff/shopping-cart--v2.png"/>
                <span class=" ml-n4 mt-n2  pl-n3 badge badge-success ml-auto" id="cart-count">
                    {{ cartcount }}
                </span>
            </h5>
        </a>


        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button> 




        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

            <input class="form-control mr-sm-2 col-9 d-none d-md-block ml-md-auto" type="text" onkeyup="mFunction()" placeholder="Search" id="myInput"></li>


            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown ml-auto">


                        <a type="button" style="text-decoration: none;" class="text-white dropbtn mx-3 pr-4">


                            {{#if user}}
                                {{ user.name }}
                            {{ else }}
                                <a class="dropdown-item btn-inline mb-3 bg-white" href="/login">Login</a>


                            {{/if}}


                        </a>

                        <div class="dropdown-menu pl-2 dropdown-content ">

                            {{#if user}}
                                <a class="dropdown-item" href="">My profile</a>
                                <a class="dropdown-item" href="/orders">orders</a>

                                <a class="dropdown-item" href="/logout">Logout</a>
                            {{ else }}
                                <a class="dropdown-item " href="/signin">New customer
                                    <span class="text-danger">signin</span>
                                </a>


                            {{/if}}

                        </div>
                        <span class="sr-only">(current)</span>


                    </div>

                </li>

            </ul>
            <input class="form-control cc mr-sm-2 col-9 d-block  d-md-none ml-md-auto" type="text" onkeyup="mFunction()" placeholder="Search" id="myInput"></li>


            <a class="nav-link d-none d-md-block" href="/cart">
                <h5>
                    <img class="mr-n4  " src="https://img.icons8.com/pastel-glyph/40/ffffff/shopping-cart--v2.png"/>
                    <span class=" ml-n4 mt-n2  pl-n3 badge badge-success ml-auto" id="cart-count">
                        {{ cartcount }}
                    </span>
                </h5>
            </a>


        </div>


    </nav>
<div class="bg-prmary ">

    <input class="form-control cc mr-sm-2 col-9 ml-5 d-block  d-md-none ml-md-auto" type="text" onkeyup="mFunction()" placeholder="Search" id="myInput"></li>


</div>


   </header>