<section>
        <div class="container">

                <div class="row mt-3 container">
                                       </div>
                <table class="table  mt-4">

                        <thead>
                            {{#if orders}}
                                <tr>
                                        <th scope="col">Date</th>
                                        <th scope="">Address</th>
                                        <th scope="">Pincode</th>
                                        <th scope="">Mobile</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">payment Method</th>

                                        <th>status </th>
                                </tr>
                        </thead>
                        <tbody>
                                {{#each orders}}
                                        <tr>
                                                
                                                <td>{{this.date}} </td>
                                                {{!-- <td>{{this.price}} </td> --}}
                                                <td>{{this.Deliveryaddress.addres}}</td>
                                                <td>{{this.Deliveryaddress.pincode}}</td>
                                                <td>{{this.Deliveryaddress.mobile}}</td>
                                                <td>{{this.totalAmount}} </td>
                                                <td>{{this.paymentmethod}} </td>
                                                <td>{{this.status}} </td>
                                                


                                                <td>
                                                        <a href="/view-order-product/{{this._id}}" class="btn btn-primary">View Products</a> 
                                                        
                                                        
                                                </td> 
                                               
                                        </tr>
                                {{/each}}
                                {{else}}
                                <h1>No ordersv yet</h1>
                                {{/if}}
                                {{!-- {{this._id}} --}}
                        </tbody>
                </table>
        </div>
</section>